//MARGIN

.u-mx-auto {
  margin: 0 auto !important;
}

.u-mr-sm {
  margin-right: 3rem !important;
}

.u-mr-md {
  margin-right: 5rem !important;
}

.u-mb-sm {
  margin-bottom: 2rem !important;
}

//PADDING

.u-pt-sm {
  padding-top: 2rem !important;
}

.u-pl-sm {
  padding-left: 2rem !important;
}

.u-pb-sm {
  padding-bottom: 2rem !important;
}

//BORDER

.u-radius-1 {
  border-radius: 1rem !important;
}

//FONT

.u-fs-1 {
  font-size: 2.5rem !important;
}

.u-fs-2 {
  font-size: 2rem !important;
}

//LINE HEIGHT

.u-lh-sm {
  line-height: 2.5rem !important;
}

.u-lh-md {
  line-height: 3rem !important;
}

.u-lh-lg {
  line-height: 3.5rem !important;
}

//TEXT ALIGNMENT

.u-center-text {
  text-align: center !important;
}
