.home {
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 10rem 80rem 90rem 25rem 30rem;
  grid-template-areas:
    '. nav .'
    '. header .'
    'features features features'
    'boost boost boost'
    'footer footer footer';

  @media only screen and (max-width: $bp-lg) {
    grid-template-rows: 10rem 104.5rem 160rem 25rem 30rem;
  }

  @media only screen and (max-width: $bp-md) {
    grid-template-rows: 10rem 104.5rem 160rem 25rem 80rem;
  }

  @media only screen and (max-width: $bp-xs) {
    grid-template-columns: 5vw 1fr 5vw;
  }
}

.section-features {
  grid-area: features;
  display: grid;
  grid-template-columns: 10vw 1fr 10vw;
  grid-template-rows: 25rem 20rem min-content;
  background-color: var(--color-gray-light-3);

  .heading-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: end;
  }

  .paragraph {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .feature-container {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $bp-lg) {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .feature-2 {
      position: relative;
      top: 5rem;
    }
    .feature-3 {
      position: relative;
      top: 10rem;
    }
  }
}

.section-boost {
  grid-area: boost;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-dark);
  background-image: url('../images/bg-boost-desktop.svg');
}
